.products__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  width: 100%;
}

.card__products {
  width: 100%;
}

.card__products p {
  color: black;
  font-size: 1.5em;
}

.card__products button {
  background-color: #31c28d;
  cursor: pointer;
  padding: 0.5em 1em;
}

.card__products button:hover {
  background-color: #028253;
  transform: scale(1.1);
  transition: 0.5s;
}
