.nav__header {
  align-items: center;
  background-color: #003be5;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav__search {
  align-items: center;
  background: white;
  display: flex;
  padding: 0.5em 1em;
}

.nav__search input {
  background-color: transparent;
  color: black;
  font-size: 1em;
}

.nav__search button {
  background: white;
  cursor: pointer;
}

.search__button {
  background-color: transparent;
  border: none;
}

.icon-container {
  position: relative;
}

.icon-container p {
  background-color: white;
  border-radius: 1em;
  color: #003be5;
  font-weight: 500;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.cart-icon {
  height: 50px;
  width: 50px;
}

.nav__logo img {
  margin-left: 1.5em;
}
